*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.screen{
    display: flex;
    flex-direction: column;
    flex-grow: 80%;
    justify-content: center;
    align-items: center;
    margin:10vh auto;
    width:80vw;
    height:80vh;
    padding:5vw;
}

.input{
    background-color:rgb(10, 148, 28);
    box-shadow: 1vh 1vh rgba(160, 224, 31, 0.52);

}
.heading{
    font:800 6vw Sans-serif;
}
p{
    font:600 3em Sans-serif;
}
li{
    font:600 3em Sans-serif;
}
textarea{
    margin:5vh 1vw;
    height:5vh;
    width:70vw;
    font:400 1em Sans-serif;
    word-wrap: wrap;
}
.add,.submit{
    padding:1vh;
    font:600 1.5em sans-serif;
}
.reset{
    padding:1vh;
    font:600 1.5em sans-serif;
}
.output{
    background-color:rgba(160, 224, 31, 0.52);
    box-shadow: 1vh 1vh rgb(10, 148, 28);
}