*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.title{
    font:700 36pt Arial;
    text-decoration: underline;
    margin: 5vw 10vh;
}
p{
    font:400 18pt "Arial Rounded", sans-serif;
    margin-left: 5vw;
}

.code{
    background-color: rgba(157, 204, 188, 0.973);
    border:navy 2px solid;
    padding:5vw;
    margin:5vh 5vw;
    color:navy;
    font:600 18pt Courier,sans-serif;
}