*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    margin:0;
    background-image: url("img/stripe.jpg");
    background-size: 3rem 3rem;
    background-repeat: repeat-x;
    
}
.check{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: top;
}
.stripe{
    height:5svh;
    width:100%;
}
.container{
    margin-top:5rem;
    margin-left:2rem;
}